{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 text-center mx-auto mt-4 rounded-4 border border-primary">
            <h1>Sign Up</h1>

            {% include 'snippets/form_errors.html' %}

            <form method='POST'>
                <div>
                    <label for='email'>Email</label>
                    <input class='form-control' id='email' type='email' name='email' placeholder='your@email.com'/>
                </div>

                <div>
                    <label for='password'>Password</label>
                    <input class='form-control' id='password' type='password' name='password'
                           placeholder='your password'/>
                </div>

                <div>
                    <label for='password_confirm'>Confirm Password</label>
                    <input class='form-control' type='password' name='password_confirm' id="password_confirm"
                           placeholder='Confirm your password'/>
                </div>
                <button class='btn btn-primary m-2' type='submit'>Sign up</button>

            </form>

        </div>
        <div class="mt-5 text-center">
            <p>
                Do you have an account? <a href="/login">Login</a>
            </p>
        </div>
    </div>
{% endblock %}