<div>

    {% include 'snippets/form_errors.html' %}

    <form method="post" action="/videos/{{ video.host_id }}/edit">
        <div>
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" placeholder='Your Video Title'
                   value="{% if video.title %}{{ video.title }}{% endif %}" required>
        </div>

        <div>
            <label for='url'>YouTube Link</label>
            <input class='form-control' type='text' name='url' id='url'
                   required
                   placeholder='https://www.youtube.com/watch?v=GlDr6aKBtFg'
                   value="{% if video.url %}{{ video.url }}{% endif %}"/>
        </div>

        <button class='btn btn-primary mt-2' type='submit'>Save Video</button>

    </form>

</div>