{% extends "base.html" %}

{% block title %}Welcome | {{ super() }} {% endblock %}

{% block content %}
    <div class="text-center col-md-4 col-sm-6 col-12 mx-auto">

        <h3>Found {{ number_of_hits }} for {{ query }}</h3>

        {% if request.user.is_authenticated %}
            <button class="btn btn-sm btn-outline-primary m-4" hx-post="/update-index">Refresh Search Index</button>
        {% endif %}

        {% include 'search/search_form.html' %}

        <div class="list-group mt-4">
            {% for hit in hits %}
                <a href="{{ hit["path"] }}"
                   class="list-group-item list-group-item-action"><b>{{ hit["title"] }}</b> <small
                        class="text-muted">{{ hit["objectType"] }}</small></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}